footer{
    width: 100%;
    background-color: rgba(50,50,50);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
        margin: 20px 0;
        display: flex;
        align-items: center;
        z-index: 8;
        text-decoration: none;
        color: $light-gray;
        font-weight: bold;
        img{
            height: 70px;
        }
        .text{
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            text-align: right;
            span{
                font-family: $section-titles-font;
            }
        }
    }
    .links{
        width: 50%;
        display: flex;
        justify-content: center;
        font-family: $section-titles-font;
        font-size: large;
        font-weight: bold;
        span{
            margin: 0 10px;
            cursor: pointer;
        }
    }

    .social{
        display: flex;
        margin: 15px 0;
        i{
            margin: 0 10px;
            font-size: x-large;
        }
    }

    .ittech{
        margin: 30px 0;
        font-family: $text-title-font;
        a,a:active,a:visited{
            text-decoration: none;
            color:inherit;
        }
    }
}

@media (max-width: 768px){
    footer{
        .links{
            width: 100%;
        }

    }
}
@media (max-width: 576px){
    footer{
        .links{
            flex-direction: column;
            align-items: center;
            span{
                margin: 10px 0;
            }
        }

    }
}