<footer>
  <a href="/" class="logo">
    
    <div class="text">
      <span>Dr. Ripa</span>
      <span>HALITOSIS</span>
    </div>
  </a>
  <div class="links">
    <span id="footerLinkAbout"><a style="text-decoration: none;" href="#sectionAboutme""><%= footer.about %></a></span>
    <span id="footerLinkInfo"><a href="#sectionInfo">HALITOSIS</a></span>
    <span id="footerLinkStats"><a href="#sectionStats"><%= footer.stats %></a></span>
    <span id="footerLinkTestimonials"><a href="#sectionReviews"><%= footer.testimonials %></a></span>
    <span id="footerLinkContact"><a href="#sectionContact"><%= footer.contact %></a></span>
  </div>
  <div class="social">
    <a style="text-decoration: none; color:white" href="https://www.facebook.com/ripabayharbormiami/"><i style="text-decoration: none;" class="fab fa-facebook"></i></a>
    <a style="text-decoration: none; color:white" href="https://www.instagram.com/family_cosmetic_dentistry/?utm_source=ig_profile_share&igshid=8ojw1ftpux9k"> <i class="fab fa-instagram"></i></a>
    <a style="text-decoration: none; color:white" href="https://www.youtube.com/channel/UCE26nZAj-88hQXoauDa68Sw"><i class="fab fa-youtube"></i></a>
   
   
    
  </div>
</footer>
