<nav class="scroll">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn"><div class="hamburger"></div></label>
  <a href="/" class="logo">
    <img style='margin-right: 15px' class="imagenNav" src="/images/dentistry.png" alt="Dr. Ripa">
    <div class="text">
      <span>Dr. Ripa</span>
      <span>HALITOSIS</span>
    </div>
  </a>

  <ul>
    <li><i class="fal fa-users"></i><a href='#sectionInfo' class="link-nav" id="linkInfo">HALITOSIS</a></li>
    <li><i class="fal fa-newspaper"></i><a href='#sectionStats' class="link-nav" style="text-decoration: none;" id="linkStats"><%= navbar.stats %></a></li>
    <li><i class="fal fa-user-md"></i><a href='#sectionContact' class="link-nav" id="linkContact"><%= navbar.contact %></a></li>
    <li><form action="/lang" method="post">
      <button name="lang" value="esp" type="submit" class="langBtn">Spanish</button>
      <button name="lang" value="eng" type="submit" class="langBtn">English</button>
    </form>
    </li>
  </ul>
</nav>

<script>

</script>