<section class="section-aboutme" id="sectionAboutme">
    <div class="container"  data-aos="fade-down">
        <div class="container-text" data-aos="fade-up" data-aos-delay="300">
            
            <h3>DRA. LIZA MARIGO KLEIN</h3>
            <p>Nacionalidad: EEUU</p>
            
            <h3>Formación Académica</h3>
            <p>Odontóloga: Universidad Nacional de La Plata</p>
            <p>Bacteriologa: The University of Oklahoma</p>
            
            <h3>Postgrados</h3>
            <p>Halitosis: The University of Oklahoma</p>
            <p>Prostodoncia: Universidad Maimonides</p>
            <p>Química Inorgánica : University of Miami</p>
            
            <h3>Actividad Laboral</h3> 
            <p class="padding">Fundadora de Prodental Clínicas Odontológicas; una red de 12 clínicas dentales, actualmente franquiciadas.</p>
            
            <h3>Actividad Académica</h3>
            <p class="padding">Docente en la Catedra de Fisica: Facultad de Odontología, UNIVERSIDAD DE BUENOS AIRES</p>
            <p class="padding">Docente en la Cátedra de Microbiología e Infectología en la Facultadde Medicina, Universidad Maimonides.</p>
            <p class="padding">Jefe de trabajos prácticos, Docente e investigación científica en la Cátedra de Microbiología e Infectología, New York University, Facultad de Medicina</p>
        </div>
        <div class="container-green">
            <h3>
                BIO
            </h3>
            <img class="img-o" src="/images/aboutme/liza.png" alt="">
        </div>
        
        <img class="img-r" src="/images/aboutme/liza.png" alt="">

    </div>
</section>