<section class="section-info" id="sectionInfo" style="margin-bottom: 20%;">
    <div class="container" data-aos="fade-down">
        <div class="container-green" >
            <h3><%= halitosis.title %></h3>
        </div>
        
        <div class="container-text" data-aos="fade-up" data-aos-delay="300">
            <p><%= halitosis.description %></p>
            <p><%= halitosis.descriptionb %></p>
            <p><%= halitosis.descriptionc %></p>
        </div>

        
    </div>
</section>