  <div class="langwrapper">
    <h1>Idioma / Language</h1>
    <form action="/lang" method="post">
      <button name="lang" value="esp" type="submit" class="langBtn"><img src="images/icons/esp.png"/></button>
      <button name="lang" value="eng" type="submit" class="langBtn"><img src="images/icons/eng.png"/></button>
    </form>
  </div>