<section class="section-principal">
  <div
    class="splide"
    data-splide='{"type" : "fade", "interval": "8000" , "fixedWidth":"80vw", "drag": false , "loop": true, "rewind":true, "autoplay": true, "pagination": false}'
  >
    <div class="splide__track">
      <ul class="splide__list" style="margin: auto !important">
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/21.jpeg"
              alt="First slide"
            />
            <div class="text-container down">
              <div class="text-content">
                <h2>El amor crece solo sin distancia</h2>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/fachera.jpeg"
              alt="Second slide"
            />
            <div class="text-container right">
              <div class="text-content" style="color: black">
                <h2>Turismo Medico</h2>
                <div>
                  <p>
                    Personas de todos los paises del mundo nos visitan para
                    diagnosticar- tratar su halitosis ( mal aliento ) y de paso
                    conocer nuestro hermoso pais . Consulte por planes con
                    alojamiento en hoteles de 4-5 estrellas y pre- reservas en
                    restaurants argentinos .
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/3.png"
              alt="Third slide"
            />
            <div class="text-container left">
              <div class="text-content" style="color: black">
                <h2>No permitamos que se burlen de los niños</h2>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/grandes.jpg"
              alt="Four slide"
            />
            <div class="text-container down">
              <div class="text-content" style="color: black">
                <h2>
                  El mal aliento puede impedir expresarse libremente y crecer en
                  lo laboral
                </h2>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/mujeres.jpg"
              alt="Five slide"
            />
            <div class="text-container down">
              <div class="text-content">
                <h2 style="color: black">
                  Masticar chicles no elimina el mal aliento
                </h2>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/6.png"
              alt="Five slide"
            />
            <div class="text-container right">
              <div class="text-content">
                <h2>Lo social es parte de nuestra vida</h2>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/20.jpeg"
              alt="Five slide"
            />
            <div class="text-container down">
              <div class="text-content" style="color: black">
                <h2>Tener Mal Aliento representa una DESVENTAJA SOCIAL</h2>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/8.png"
              alt="Five slide"
            />
            <div class="text-container right">
              <div
                class="text-content desc"
                style="text-align: left; color: rgba(0, 0, 0, 0.651)"
              >
                <h5>DIAGNOSTICO Y TRATAMIENTOS A DISTANCIA</h5>
                <h3>
                  Se le envian todos los materiales para que ud. Se haga los
                  hisopados para detectar
                </h3>
                <div>
                  <ul>
                    <li>Bacterias gram +</li>
                    <li>Bacterias gram - (anaerobios)</li>
                    <li>Parasitos</li>
                    <li>Encias</li>
                    <li>Cultivo salival</li>
                    <li>Hongos (micosis)</li>
                    <li>Cultivo para causas estomacales .</li>
                  </ul>
                </div>
                <p
                  class="special, foot"
                  style="transform: scale(0.8); margin-bottom: 0px"
                >
                  Luego de un entrenamiento por videollamado con la Dra. Klein.
                  Los envia por correo y se estudia por microscopio, se llega al
                  diagnostico que puede ser mas de una causa. Se diagrama y se
                  le presenta el tratamiento a distancia .
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/9.png"
              alt="Five slide"
            />
            <div class="text-container down">
              <div class="text-content">
                <div>
                  <h2>Que nos hace unicos en el pais ?</h2>
                  <p>
                    La Dra. Liza Klein tiene una profunda formacion en halitosis
                    en EEUU. Unica experta en halitosis en el pais con una
                    discipula en Argentina y en EEUU , proximamente Italia!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/10.png"
              alt="Five slide"
            />
            <div class="text-container right">
              <div
                class="text-content desc"
                style="text-align: left; color: rgba(0, 0, 0, 0.651)"
              >
                <h2 style="transform: scale(1.1)">OZONOTERAPIA</h2>
                <h3>
                  Se cuentan con 5 equipos cada libera una concentracion
                  diferente
                </h3>
                <ul>
                  <li>Areas que se tratan:</li>
                  <li>Lengua ( gas)</li>
                  <li>Piezas Dentales ( gel de ozono)</li>
                  <li>Encias ( ozono liquido)</li>
                  <li>Garganta ( gas)</li>
                  <li>Fosas nasales ( gas )</li>

                  <li class="foot">
                    Este manantial de oxigeno mata a las bacterias que producen
                    mal olor midiendo con un cromatografo y microscopio ( doble
                    control ) lo que se mata para alcanzar el equilibrio y asi
                    calibrar la flora oral normal , neutralizando de inmediato
                    el aliento.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/11.png"
              alt="Five slide"
            />
            <div class="text-container down">
              <div class="text-content description">
                <h3>
                  Test in vitro de Helicobacter pylori en el momento en el
                  consultorio
                </h3>
              </div>
            </div>
          </div>
        </li>

        <li class="splide__slide">
          <div class="img-principal-container">
            <img
              class="splide-img"
              src="/images/banners/19.png"
              alt="Five slide"
            />
            <div class="text-container down">
              <div class="text-content description">
                <h3>
                  Test in vitro de diabetes y prediabetes en el momento en el
                  consultorio
                </h3>
              </div>
            </div>
          </div>
        </li>
        <!-- 
          <li class="splide__slide">
            <div class="img-principal-container">
              <img class="splide-img" src="/images/banners/12.png" alt="Five slide">
              <div class="text-container">
                
                <p>Diagnostico de trymetilaminuria</p>
              </div>
            </div>
          </li>

          <li class="splide__slide">
            <div class="img-principal-container">
              <img class="splide-img" src="/images/banners/13.png" alt="Five slide">
              <div class="text-container">
                
                <p>Laser Lingual</p>
              </div>
            </div>
          </li>

          <li class="splide__slide">
            <div class="img-principal-container">
              <img class="splide-img" src="/images/banners/14.png" alt="Five slide">
              <div class="text-container">
                
                <p>Diagnostico de causa estomacal</p>
              </div>
            </div>
          </li>

          <li class="splide__slide">
            <div class="img-principal-container">
              <img class="splide-img" src="/images/banners/15.png" alt="Five slide">
              <div class="text-container">
                
                <p>Nuevo cromatografo  de ultima generacion ! Adios al halimeter !! 
                  Bienvenido el Halisens  ,technologia  alemana 
                  Unico equipo en el pais! 
                  Muestra los compuestos volatiles sulfurosos en un monitor 
                  Sufuro de hidrogeno 
                  Metyl mercaptano
                  Di metyl di sulfuro</p>
              </div>
            </div>
          </li>

          <li class="splide__slide">
            <div class="img-principal-container">
              <img class="splide-img" src="/images/banners/16.png" alt="Five slide">
              <div class="text-container">
                
                <p> Proximamente
                  Academia de Halitosis 
           Entrenamiento en diagnostico- tratamiento en atencion primaria en Halitosis oral . 
           Con certificacion</p>
              </div>
            </div>
          </li>

          <li class="splide__slide">
            <div class="img-principal-container">
              <img class="splide-img" src="/images/banners/17.png" alt="Five slide">
              <div class="text-container">
                
                <p> La Dra. Liza Klein , formuladora quimica de su linea de productos Neutralizadores de halitosis Cronica y Ocasional . 
                  aprobados por Anmat -FDA- CE</p>
              </div>
            </div>
          </li>

          <li class="splide__slide">
            <div class="img-principal-container">
              <img class="splide-img" src="/images/banners/18.png" alt="Five slide">
              <div class="text-container">
                
                <p> Con la compra de un Neutralizador de halitosis , tiene la posibilidad de conocer a la Dra.Klein y le obsequia un test del aliento que mide en partes por billon los gases azufrados</p>
              </div>
            </div>
          </li> -->
      </ul>
    </div>
  </div>
</section>
